header{
    
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9c1414;
    border-radius: 30px;
    
}

.logo{
    
    width: 300;
    height: 100px;
    margin-top: 3px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.img-logo{
    border: 5px solid rgb(0, 183, 255);
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

h3{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border: 2px solid rgb(132, 0, 255);
    border-radius: 20px;
}
nav a{
        padding: 6px;
        border: 2px solid black;
        border-radius: 40px;
        transition: background-color 0.3s ease; 
        text-decoration: none;
}
nav a:hover{
    background-color: aquamarine;

}


.contact-matheus h1{
    margin-left: 100px; 
    margin-top: 100PX;
    font-family: monospace;
     display: flex;
   
    
}
.contact-matheus img{
    border-radius: 10%;
    height: 200px;
    width: 400px;
    
}
.contact-kauan h1{
    margin-left: 100px; 
    margin-top: 100PX;
    font-family: monospace;
    
}
.contact-kauan img{
    border-radius: 10%;
    height: 200px;
    width: 400px;
}
.rede-social{
    color: #F53002;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
}







/*-----------------------------------------------------------------------------------------------------------------------------*/















.produto1 {
margin-top: 200px;

}

button{
    border:  solid;
width: 290px  ;
height: 60px;
font-size: 20px;
background-color: rgb(26, 163, 56);
margin-left: 10px;
 border-radius: 20px ;

}

#carrinho {

height: 25px ;
width: 20px;
}


#processador {

    height:  300px;
     width: 300px;
    margin-right: 100px;
    border: 5px solid;
    border-radius: 40px ;

}


h1{
    color: red;
}

.rolo{
    height: 200px;
}


