.inicial {
border: 5px solid red;
height: 110px ;
}

.produto1 {
margin-top: 200px;

}

button{
    border:  solid;
width: 290px  ;
height: 60px;
font-size: 20px;
background-color: rgb(26, 163, 56);
margin-left: 10px;
 border-radius: 20px ;

}

#carrinho {

height: 25px ;
width: 20px;
}


#processador {

    height:  300px;
     width: 300px;
    margin-right: 100px;
    border: 5px solid;
    border-radius: 40px ;

}


h1{
    color: red;
}

.rolo{
    height: 200px;
}


